<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.4.9" targetFramework="net46" />
  <package id="AngularJS.Core" version="1.4.9" targetFramework="net46" />
  <package id="AngularJS.Route" version="1.4.9" targetFramework="net46" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="5.2.1" targetFramework="net46" />
  <package id="angular-ui-router.TypeScript.DefinitelyTyped" version="0.7.6" targetFramework="net46" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net451" />
  <package id="Dapper.StrongName" version="1.50.2" targetFramework="net47" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="es6-promise.TypeScript.DefinitelyTyped" version="0.7.7" targetFramework="net46" />
  <package id="Facebook" version="7.0.10-beta" targetFramework="net47" />
  <package id="facebook-js-sdk.TypeScript.DefinitelyTyped" version="0.5.7" targetFramework="net47" />
  <package id="geojson.TypeScript.DefinitelyTyped" version="0.3.8" targetFramework="net46" />
  <package id="jQuery" version="2.1.4" targetFramework="net451" />
  <package id="jQuery.Autosize" version="1.18.12" targetFramework="net451" />
  <package id="jquery.autosize.TypeScript.DefinitelyTyped" version="0.1.9" targetFramework="net47" />
  <package id="jquery.scrollTo.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net47" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.0" targetFramework="net47" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net451" />
  <package id="jquery.ui.datetimepicker.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net47" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net451" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net47" />
  <package id="leaflet.TypeScript.DefinitelyTyped" version="0.6.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net47" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Net.Compilers.Toolset" version="3.6.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.8.3" targetFramework="net451" />
  <package id="Moment.js" version="2.18.2" targetFramework="net47" />
  <package id="Moment.Timezone.js" version="0.5.13" targetFramework="net47" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.8.3" targetFramework="net47" />
  <package id="mustache.js" version="0.8.1" targetFramework="net451" />
  <package id="mustache.TypeScript.DefinitelyTyped" version="0.2.3" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NodaTime" version="2.2.0" targetFramework="net47" />
  <package id="numeral" version="2.0.4" targetFramework="net47" />
  <package id="qTip2" version="2.2.1" targetFramework="net46" />
  <package id="Respond" version="1.4.2" targetFramework="net451" />
  <package id="stacktrace-js.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net47" />
  <package id="WebGrease" version="1.6.0" targetFramework="net451" />
</packages>