<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebFarm1.InternalWebService.Plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <WebFarm1.InternalWebService.Plugins.Properties.Settings>
            <setting name="WebFarm1_InternalWebService_Plugins_RdcOzone_RdcOzoneService" serializeAs="String">
                <value>http://localhost:5226/RdcOzoneService.asmx</value>
            </setting>
            <setting name="WebFarm1_InternalWebService_Plugins_WesternBayRatesSearchWebService_Service" serializeAs="String">
                <value>https://secure.westernbay.govt.nz/WbopdcApiPartner/v1/PropertyService.asmx</value>
            </setting>
            <setting name="WebFarm1_InternalWebService_Plugins_nz_co_origen_beta_Ozone" serializeAs="String">
                <value>https://ozone.ruapehudc.govt.nz/live/ozone.webserviceAPI/ozone.asmx</value>
            </setting>
            <setting name="WebFarm1_InternalWebService_Plugins_nz_govt_odc_propertytest_Ozone" serializeAs="String">
                <value>http://propertytest.odc.govt.nz/Ozone.WebServiceAPI/ozone.asmx</value>
            </setting>
        </WebFarm1.InternalWebService.Plugins.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>